
@import url(./markdown.css);
@import url(./font-awesome.min.css);

body {
    margin: 0px;
    overflow-x: hidden;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /*background: rgba(253, 247, 229, 1);*/
    /*background-color: #ebe7df;*/
}

::selection {
    background: #fff;
    color: #229ffd;
}

::-moz-selection {
    background: #fff;
    color: #229ffd;
}

header#banner{
    position: fixed;
    bottom: -100%;
    right: 0px;
    height: auto;
    width: 120px;
    overflow: hidden;
    transition: bottom 200ms ease-in;
}

header#banner h1 {
    text-align: center;
}

header#banner nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

header#banner nav ul li {
    max-width: 90px;
    margin: 6px auto;
    overflow: hidden;
    display: block;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    background-color: rgba(200, 200, 200, 0.3);
    box-sizing: border-box;
    /*box-shadow: 1px 1px 2px #d9d9d9;*/
    /*border: 1px solid #d9d9d9;*/
    /*border-radius: 10px;*/
}
header#banner nav ul li.active {
}

.side-bar {
    position: fixed;
    top: 0;
    left: -45px;
    width: 45px;
    height: 100%;
    background-color: rgba(42, 42, 42, 1);
    transition: left 200ms linear;
}
.side-bar ul {
    padding: 0;
}

.side-bar ul > li {
    display: block;
    height: 45px;
    width: 45px;
}
.side-bar ul > li > a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #999999;
    cursor: pointer;}
    .side-bar ul > li > a:hover {
        background-color: #f49484;
        color: #FFF;
    }

.side-bar ul > li > a > i { 
    /*font-size: 29px;*/
}

/*label*/
label.tool-btn {
    position: fixed;
    right: 30px;
    height: 33px;
    width: 33px;
    background: #e76b66;
    font-family: 'Courier new';
    color: #FFF;
    line-height: 38px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    
}
#header-toggle-btn {
    display: block;
    bottom: 70px;
    box-shadow: 1px 1px 2px #d9d9d9;
    transition: transform 200ms linear;
}
#header-toggle {display: none;}
#header-toggle:checked + header#banner { bottom: 120px;}
#header-toggle:checked ~ .side-bar { left: 0;}
#header-toggle:checked ~ .tool-btns #header-toggle-btn {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);     /* IE 9 */
    -moz-transform:rotate(90deg);    /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari å’Œ Chrome */
    -o-transform:rotate(90deg);  /* Opera */
}
#back-to-top {
    display: none;
    bottom: 30px;
}


div.side-wrapper {
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: -2;
    transition: padding-left 250ms ease-in;
}
div.side-wrapper .wrapper {
    width: 300px;
    height: 100%;
    background-image: url(../images/im3.jpg);
    background-position: center;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}


div.content {
    /*width: 100%;*/
    width: 700px;
    margin: 20px auto;
    transition: padding-left 250ms ease-in;
}


#posts-list {
    list-style: none;
    padding: 10px;}
    #posts-list li {
        margin-bottom: 10px;}

article {
    border-bottom: 1px dashed #d9d9d9;
}

footer.post-info {
    margin-bottom: 10px;
}

div.meta * {
    display: inline-block;
}

address.author a {
    color: #4094c7;
    font-style: initial;
    font-size: 13px;
}

abbr.published, .modified {
    color: #717171;
    font-size: 13px;
}

a.category {
    display: inline-block;
    width: 60px;
    text-align: center;
    padding: 0px 8px;
    line-height: 25px;
    background-color: #e78170;
    border-radius: 4px;
    color: #FFF;
    border: 1px solid #d9d9d9;
    font-size: 12px;
}

p.tags a {
    color: #717171;
    font-size: 12px;
}

p.tags i {
    color: #717171;
}

h1 {font-size: 20px;}

a {
    color: #555555;
    text-decoration: none;
}

p.copyright {
    font-size: 12px;
    color: #999999;
}

p.copyright:hover {
    color: red;
}

section#extras {
    padding: 5px;
    background-color: #f5f6f5;
    margin: 70px 0;
}

section#extras ul {
    display: block;
    list-style: none;
    padding: 10px 0;
}

section#extras h2 {
    width: 100px;
    margin-left: 10px;
    color: #ccc;
}

section#extras ul li {
    padding: 3px;
}

section#extras ul li a.link-name {
    display: inline-block;
    Background: #aaa;
    color: #FFF;
    width: 25%;
    padding-right: 15px;
    font-size: 18px;
    margin-right: 9px;
    text-align: center;
}

section#extras ul li a.link-name:hover {
    color: #000;
}

section#extras ul li a.link-href {
    font-size: 13px;
}

footer#contentinfo {
    /* border-top: 1px solid #d9d9d9; */
    font-size: 12px;
    color: #999999;
}

@media screen and (max-width: 720px) {
    div.content {
        margin-top: 56px;
        width: 85%;
    }
    label.tool-btn {
        right: 15px;
    }
    header#banner {
        position: fixed;
        top: 0;
        left: 0;
        height: 51px;
        width: 100%;
        overflow: hidden;
        background: #FFF;
        box-shadow: 0px 1px 3px #d9d9d9;
        transition: height 200ms ease-in;
    }
    .side-bar {display: none;}
    #header-toggle-btn {
        top: 12px; 
        position: fixed;
        box-shadow: none;
        border: none;
    }
    #header-toggle:checked + header#banner{ bottom: 100%; height: 267px;}
}

@media screen and (max-width: 400px) {
    div.content {
        width: 96%;
    }
    label.tool-btn {
        right: 5px;
    }

}
